@charset "UTF-8";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to right, #6E4C36, #BFA58E);
}

main {
    background-color: #e2ddd8de;
    width: 500px; /* Tamanho da telinha */
    padding: 30px; /* Espacamento das bordas */
    margin: auto; /* Alinhas a telinha */
    border-radius: 20px; /* Borda arredondada */
    box-shadow: 7px 7px 7px #7e7269; /* lado / baixo / espalhar / cor */
}

h1 {
    color: #753910;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(231, 185, 124, 0.801);
}

h2 {
    color: #6E4C36;
    text-align: center;
}

p {
    color: #000000;
    text-align: justify;
}

source {

}